* {
  font-size: 1rem;
  font-family: monospace;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

li p, li button {
  margin: 0.2rem;
  padding: 1rem;
  border: none;
}

.ProductPage img {
  width: 120px;
  height: 120px;
}